h5{text-align: center;
   
    
    padding-top: 20px;
}


.btn{
margin-top: 15px;
    text-align: center;
    margin-bottom: 5px;
}

p{font-size: 2rem;
    color:white !important;
}
div{
    background-color: rgb(52, 176, 224);
}