h1{
    color: #EEEEEE;
    padding-bottom: 10px;
}
h5{
    color: #EEEEEE;
    display: inline-block;
    margin-right: 10px;
}
.container {
    width: 350px;
    height: 350px;
    background-color: #44318d;
    padding-left: 10px;
    padding-right: 10px;
    color: #EEEEEE;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.35) 8px 10px 20px;
}
.num{
    width: 80px;
    height: 25px;
    margin-top: 30px;
    margin-left: 15px;
    border-radius: 4px;
}
.button {
    width: 100px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 10px;
    height: 35px;
    padding: auto;
    border-radius: 5px;
    border-style: none;
    background-color: #d83f87;
    color: #EEEEEE;
    font-size: 22px;
    cursor: pointer;
    display: inline-block;
  }
  hr{
    height: 1px;
    color: #EEEEEE;
    background-color: #EEEEEE;
    border: none;
  }