:root {
  --header: #46244c;
  --text: #712b75;
  --button: #c74b50;
  --hover: #d49b54;
  --shad: rgb(209, 208, 208);
  --navColor: rgba(250, 250, 250, 0.9);
  --dark-yellow: #c27a23;
  --body: white;
}
html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  background-color: var(--body);
}

/* navbar */
nav{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 0;
}
.navbar {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  background-color: var(--navColor);
  max-width: 100rem;
}
.brand {
  font-size: 2.4rem;
  margin: 10px;
  color: var(--header);
  cursor: pointer;
}
.btn {
  padding: 0.8rem 2rem;
  color: white;
  background-color: var(--button);
  border: none;
  font-size: 1rem;
  border-radius: 10px;
  transition: all 200ms ease;
  cursor: pointer;
}
.btn:active {
  transform: scale(0.9);
}
.nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--header);
  cursor: pointer;
}
#mode ion-icon{
  color:#46244c;
}
.menu {
  display: flex;
  gap: 30px;
  z-index: 1000;
}
.hamburger {
  margin-top: 10px;
  display: none;
  cursor: pointer;
}
.menu .menu-back {
  display: none;
  z-index: 1000;
}
.menu.active .menu-back {
  display: block;
}
h2{
  color: var(--header)
}

/* media queries */
@media screen and (max-width: 1020px) {
  .brand {
    font-size: 2rem;
  }
}
@media screen and (max-width: 933px) {
  .menu {
    display: flex;
    width: 100%;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: var(--body);
    box-shadow: 10px 0px 10px grey;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-150%);
    transition: all 200ms ease;
  }
  .hamburger {
    display: block;
  }
  .menu.active {
    transform: translateY(0%);
    position: fixed;
  }
}

@media screen and (max-width: 730px) {
  .brand {
    font-size: 1.5rem;
  }
  .navbar {
    padding: 0px 1rem;
  }
  .btn {
    font-size: 0.8rem;
    padding: 0.5rem 1.8rem;
  }
}
@media screen and (max-width: 530px) {
  .brand {
    font-size: 1.1rem;
  }
  .btn {
    font-size: 0.8rem;
    padding: 0.5rem 1.5rem;
  }
}
@media screen and (max-width: 390px) {
  .brand {
    font-size: 1rem;
  }
}

/* Octocat */
.github-corner {
  color: azure;
  z-index: 100;
}
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

/* media queries */
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

/* hero section */
.hero {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  padding: 0rem 3rem;
  margin: 5rem 0rem;
  margin-bottom: 2rem;
}
.hero p {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  color: var(--header);
  text-transform: uppercase;
}
.hero div {
  font-size: 22rem;
  color: var(--hover);
  transition: all 500ms ease;
}
.hero div:hover{
  transform: rotateY(180deg);
}
@media screen and (max-width: 940px) {
  .hero {
    gap: 1rem;
    padding: 0rem 2rem;
  }
  .hero p {
    font-size: 2rem;
  }
  .hero div {
    font-size: 19rem;
  }
}
@media screen and (max-width: 720px) {
  .hero {
    gap: 0.8rem;
    margin-top: 4rem;
  }
  .hero p {
    font-size: 1.5rem;
  }
  .hero div {
    font-size: 14rem;
  }
}
@media screen and (max-width: 600px) {
  .hero {
    gap: 0rem;
    padding: 0rem 2rem;
    flex-direction: column-reverse;
  }
  .hero p {
    /* margin-top: -30px; */
    font-size: 1.2rem;
    text-align: center;
  }
  .hero div {
    font-size: 11rem;
  }
}

/* search */
.search {
  margin: 3rem;
  margin-top: 1.7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.search input {
  font-size: 1rem;
  padding: 0.7rem;
  width: 40%;
  max-width: 50rem;
  outline: none;
  /* border: none; */
  color: black;
  box-shadow: 4px 5px 10px var(--shad);
  border-radius: 10px;
}
@media screen and (max-width: 600px) {
  .search input {
    padding: 0.5rem;
    width: 50%;
  }
}

/* projects */
.projects {
  padding: 3rem;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.5rem;
  justify-content: center;
  align-items: center;
  max-width: 100rem;
}
.projectCard{
  display: flex;
  border: 2px solid var(--header);
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  height: 17rem;
  justify-content: center;
  background-color: #d49b54;
  box-shadow: 10px 10px 5px var(--shad);
  transition: all 200ms ease;
}
.projectCard:hover{
  transform: scale(1.04);
  background-color: var(--dark-yellow);
}
.projectCard img{
  width: 100%;
  height: 10rem;
}
.projectCardTitle{
  color: white;
  text-decoration: none;
}

/* footer */
.footer{
  text-align: center;
  font-size: 1rem;
  margin: 1rem;
  color: var(--header);
}
@media screen and (max-width: 600px) {
  .footer{
    font-size: 0.7rem;
  }
}

/* goTop */
.goTop{
  position: fixed;
  right: 5px;
  bottom: 5px;
  padding: 0.7rem 1rem;
  display: none;
}
.goTop.hide{
  display: block;
}
@media screen and (max-width:440px) {
  .goTop{
    position: fixed;
    right: 5px;
    bottom: 50px;
    padding: 0.7rem 1rem;
    display: none;
  }
}