@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Julius+Sans+One&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Archivo',
  sans-serif;
  background-color: #1A1A1D;
  color: #45A29E;
}
/* Dark Mode */
/* body.dark-mode {

} */
/* body.dark-mode a {
  color: #111;
}
body.dark-mode button {
  background-color: #eee;
  color: #111;
}
body.dark-mode h4  {
  color: #eee;
}
body.dark-mode svg  {
  fill: #fff;
  color: #151513;
}
body.light-mode {
  background-color: #eee;
  color: #111;
}
body.light-mode a {
  color: #111;
}
body.light-mode button {
  background-color: #111;
  color: #eee;
}
body.light-mode h4 {
  color: #111;
}
body.light-mode svg {
  fill: #151513;
  color: #fff;
} */

/* Octocat */
.github-corner{
  color: azure;
}
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

.toggleButton{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border: none;
  font-size: 30px;
  cursor: pointer;
}




h1 {
  font-family: 'Julius Sans One',
  sans-serif;
  text-align: center;
  font-size: 3.5rem;
  padding: 6rem 2rem;
}

.projectCard {
  width: 100%;
  height: 100%;
  border: 3px solid #45A29E;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform .3s ease-in-out 0s;
  background-color: #0B0C10;
  padding: 1rem;
}
.projectCard:hover{
  background-color: #45A29E;
  transform: scale(1.02);
}
.projectCardTitle{
  color: azure;
  font-size: 1.1rem;
}
.projectCardTitle:hover{
  background-color: #45A29E;
}

/* .projectCard:hover{
  transform: scale3d(1.05, 1.05, 1);
  filter: drop-shadow(10px);
  filter: contrast(110%);
  opacity: 90%;
} */
.projectCardImg {
  width: 320px;
  height: 200px;
  border-radius: 5px;
}




.project-section{
  /* width: 90vw; */
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
  grid-gap: 1.5rem;
}

.project-section a{
  text-decoration: none;
}

.body {
  padding: 0px 40px;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 40px;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-txt[type=text] {
  width: 300px;
  height: 35px;
  border-radius: 25px;
  background-color: #0B0C10;
    border: 2px solid #45A29E;
  color: azure;
  border: none;
  padding: 5px 10px;
}

.search-btn{
  height: 35px;
  width: 50px;
  background-color: #45A29E;
  color: azure;
  padding: 5px 10px;
  margin-right: 16px;
  margin-left: 5px;
  font-size: 12px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

footer {
  /* background-color: #19172e; */
  /* position: fixed; */
  text-align: center;
  color: white;
  font-size: 1rem;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 0;
  padding: 10px;
  line-height: 3vh;
  margin-top: 30px;
}

footer a:visited {
  color: white;

}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}

.scrollToTop {
  position:fixed;
  right:10px;
  bottom:10px;
  cursor:pointer;
  width:40px;
  height:40px;
  background-color: #45A29E;
  border-radius:50%;
}

.scrollToTop span {
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-8px;
  margin-top:-12px;
  border:8px solid transparent;
  border-bottom-color:white;
}

.scrollToTop:hover {
  background-color:#45A29E;
}
