/* resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body.dark-mode a {
    color: #111;
} */
body.dark-mode{
    background-color: rgb(64, 64, 64);
}

body.light-mode footer {
    color: #111;

}

body.dark-mode button {
    background-color: rgb(255, 255, 255);
    color: #111;
}

body.dark-mode h5 {
    color: rgb(255, 255, 255);
}

body.dark-mode svg {
    fill: #fff;
    color: #151513;
}

body.light-mode {
    background-color: rgb(255, 255, 255);
    color: #111;
}

body.light-mode a {
    color: #111;
}

body.light-mode button {
    background-color: #111;
    color: rgb(255, 255, 255);
}

body.light-mode h4 {
    color: #111;
}

body.light-mode svg {
    fill: #151513;
    color: #fff;
}

.hero{
    height: 25rem;
    color: aliceblue;
    background-color: black;
}
.toggleButton {
    float: right;
    margin: 2rem;
    font-size: 2rem;
    border-radius: 50px;
    cursor: pointer;
}
/* navigation bar */
nav {
    background-color: #000000;
    position: fixed;
    height: 6rem;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 100;
}

label.shadow {
    color: white;
    font-size: 1.5rem;
    line-height: 4;
    padding: 2rem 2rem;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 8rem;
}

nav ul li {
    display: inline-block;
    line-height: 6;
    margin: 0 0.5rem;
}

nav ul li a {
    color: white;
    font-size: 0.8rem;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    z-index: 2;
}

nav ul li a.active {
    /* background: #45A29E; */
    text-decoration: none;
    color: white;
    transition: .5s;
}

nav ul li a:hover {
    font-weight: bolder;
    background-color: #45A19F;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    label.shadow {
        color: white;
        font-size: 20px;
        line-height: 30px;
        padding: 0 100px;
        font-weight: bold;
        text-align: left;
        transition: all .5s;
    }

    a:hover,
    a.active {
        background: none;
        color: white;
    }

    #check:checked~ul {
        left: 0;
    }
}

/* Octocat */
.github-corner {
    color: azure;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {

    0%,
    100% {
        transform: rotate(0);
    }

    20%,
    60% {
        transform: rotate(-25deg);
    }

    40%,
    80% {
        transform: rotate(10deg);
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}

.hero-heading {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #45A29E;
    font-size: 2.2rem;
    padding: 10rem 1rem 2rem 1rem;
}
.hero-desc{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: gray;
}

/* search box */
.search-box {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-txt[type=text] {
    width: 20rem;
    height: 35px;
    border-radius: 25px;
    background-color: #0B0C10;
    color: azure;
    border: none;
    padding: 5px 10px;
}

.search-btn {
    height: 35px;
    width: 50px;
    background-color: #45A29E;
    color: azure;
    padding: 5px 10px;
    margin-right: 16px;
    margin-left: 5px;
    font-size: 12px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

/* cards */
.body{
    /* display: flex; */
    
    display: flex;
    justify-content: center;

}
.project-section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}
.projectCard {
    width: 33.3%;
    /* height: 20rem; */
    margin: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    border-radius: 10px;
}
.projectCard:hover {
    border: 1px #45A19F;
    border-style:double;
    background-color: rgba(0, 0, 0, 0.701);
    transform: scale(1.02);
}

.projectCardImg{
    display: flex;
    position: relative;
    margin: 1rem 7rem;
    background-color: #0000006d;
    border-radius: 10px;
    width: 60%;
    justify-self: center;
    height: 15rem;
}
.projectCardTitle{
    display: inline-block;
    width: 100%;
    padding: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align: center;
}


.projectCardTitle:hover {
    color: #45A29E;
}
.projectCardDownload{
    background-color: rgb(40, 40, 40);
    padding: 0.3rem;
    margin: 0 43% 1rem;
    color: #45A29E;
    display: inline-block;
    margin-top: 0.7rem;
    border-radius: 5px;
    cursor: pointer;
    
}


.project-section a {
    text-decoration: none;
}

.project-section p {
    transition-duration: 0.4s;
    cursor: pointer;
}

.project-section p:hover {
   color: white;
    transform: scale(1.10);
}

/* scroll bar */

.scrollToTop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #45A29E;
    border-radius: 50%;
}

.scrollToTop span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    border: 8px solid transparent;
    border-bottom-color: white;
}

.scrollToTop:hover {
    background-color: #45A29E;
}

/* footer */
footer {
    /* background-color: #19172e; */
    /* position: fixed; */
    text-align: center;
    color: white;
    font-size: 1rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
    padding: 10px;
    line-height: 3vh;
    margin-top: 30px;
}

footer a:visited {
    color: white;

}