* {
    margin: 0;
    padding: 0;
}

.intro {
    background: #fff;
    padding: 60px 30px;
    color: #333;
    margin-bottom: 15px;
    line-height: 1.5;
    text-align: center;
}

.intro h1 {
    font-size: 18pt;
    padding-bottom: 15px;
}

.intro p {
    font-size: 14px;
}

.action {
    text-align: center;
    display: block;
    margin-top: 20px;
}

a.btn {
    text-decoration: none;
    color: #666;
    border: 2px solid #666;
    padding: 10px 15px;
    display: inline-block;
    margin-left: 5px;
}

a.btn:hover {
    background: #666;
    color: #fff;
    transition: .3s;
    -webkit-transition: .3s;
}

.btn:before {
    font-family: FontAwesome;
    font-weight: normal;
    margin-right: 10px;
}

.github:before {
    content: "\f09b"
}

.down:before {
    content: "\f019"
}

.back:before {
    content: "\f112"
}

.credit {
    background: #fff;
    padding: 12px;
    font-size: 9pt;
    text-align: center;
    color: #333;
    margin-top: 40px;
}

.credit span:before {
    font-family: FontAwesome;
    color: #e41b17;
    content: "\f004";
}

.credit a {
    color: #333;
    text-decoration: none;
}

.credit a:hover {
    color: #1DBF73;
}

.credit a:hover:after {
    font-family: FontAwesome;
    content: "\f08e";
    font-size: 9pt;
    position: absolute;
    margin: 3px;
}

main {
    padding: : 20px;
}

article li {
    color: #444;
    font-size: 15px;
    margin-left: 33px;
    line-height: 1.5;
    padding: 5px;
}

article h1,
article h2,
article h3,
article h4,
article p {
    padding: 14px;
    color: #333;
}

article p {
    font-size: 15px;
    line-height: 1.5;
}

@media only screen and (min-width: 720px) {
    main {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        padding: 23px;
    }
}

.set-overlayer,
.set-glass,
.set-sticky {
    cursor: pointer;
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    color: #333;
    font-size: 16px;
}

.set-overlayer:after,
.set-glass:after,
.to-active:after,
.set-sticky:after {
    font-family: FontAwesome;
    font-size: 18pt;
    position: relative;
    float: right;
}

.set-overlayer:after,
.set-glass:after,
.set-sticky:after {
    content: "\f204";
    transition: .6s;
}

.to-active:after {
    content: "\f205";
    color: #008080;
    transition: .6s;
}

.set-overlayer,
.set-glass,
.set-sticky,
.source,
.theme-tray {
    margin: 10px;
    background: #f2f2f2;
    border-radius: 5px;
    border: 2px solid #f1f1f1;
    box-sizing: border-box;
}

pre.prettyprint {
    padding: 15px !important;
    margin: 10px;
    border: 0 !important;
    background: #f2f2f2;
    overflow: auto;
}

.source {
    white-space: pre;
    overflow: auto;
    max-height: 400px;
}

code {
    border: 1px solid #ddd;
    padding: 2px;
    border-radius: 2px;
}

.calculator {
    max-width: 530px;
    background-color: beige;
    padding: 20px;
    border-radius: 5px;
    margin: 10px auto;
}

input[type=text] {
    width: 315px;
    height: 60px;
    border-radius: 5px;
    border: 0px;
    background-color: #333333;
    color: #d9d9d9;
    padding: 0 5px 0 5px;
    margin: 0 0px 10px 84px;
}

.calc-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button {
    margin: 3px;
    width: 83px;
    border: none;
    height: 45px;
    border-radius: 4px;
    color: #000000;
    cursor: pointer;
}

button:hover {
    background-color: hsla(180, 100%, 40%, 0.3);
    transition: .2s;
}

.functions-one {
    width: 210px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.functions-two {
    width: 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.triggers {
    background-color: #ffc266;
}

.numbers {
    background-color: #999999;
}

.basic-stuff {
    background-color: #80d4ff;
}

.complex-stuff {
    background-color: #80ffff;
}
