body{
    display: flex;
    flex: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    min-width: 700px;
    min-height: 500px;
}

.background {
    background: url(https://media.istockphoto.com/photos/summer-composition-tropical-palm-leaves-hat-fruits-on-blue-background-picture-id1147788811?s=2048x2048) no-repeat center center/cover;
    position: absolute;
    top: -20px;
    bottom: -20px;
    left: -20px;
    right: -20px;
    z-index: -1;
    filter: blur(20px);
}