#container {
	width :350px;
	height:480px;
	margin-left:0px;
	margin-top:0px;
	background-color: #44318D;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
}

#cm {
	width:150px;
	height:25px;
	margin-top: 30px;
}

#kg{
    width:150px;
	height:25px;
	margin-top: 30px;
}

#weightguide {
	margin-left: 75px;
	margin-top: 50px;
	color: white;
}

#result {
	font-size:35px;
	margin-left: 90px;
	color: white ;
}

#submit{
	width:150px;
	height:35px;
	margin-left:90px;
	margin-top: 25px;
	border-radius: 5px;
	border-style: none;
	background-color: #D83f87;
	color:#fff;
	font-size:25px;
}

body {
	background-color: #2a1b3d;
}

h1{
	padding-top:25px;
	color: white;
}

