body {
  font-family: "Noto Sans Mono", monospace;
}
table {
  background: #012b39;
  border-radius: 0.25em;
  border-collapse: collapse;
  /* margin: 1em; */
}
th {
  border-bottom: 1px solid #364043;
  color: #e2b842;
  font-size: 0.9em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}
td {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
}
tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: #014055;
}
a {
  color: #e2b842;
}
