h5{text-align: center;
   
    color: white;
    padding-top: 20px;
}


.btn{margin-left: 2rem;
    margin-right: 2rem;
margin-top: 15px;
    text-align: center;
    margin-bottom: 15px;
}

p{font-size: 1.5rem;
    color:white
}
div{
    background-color: rgb(207, 32, 134);
}

img{
    height: 150px;
    width:300px
}
