
.container{
	display: block;
	position: fixed;
	justify-content: center;
 }
 .card{
	background: rgba(0, 0, 0, 0.938);
	color: #D83f87;
	max-height: 600px;
 }
 #weightguide{
	 display: none;
 }
 #result{
	 font-weight: 900;
 }
 #submit{
	 border: none;
	 border-radius: 2px;
	 background: #D83f87;
	 font-weight: 700;
	 justify-content: center;
	 
 }
 
 .validate{
	 border: 1px solid rgba(255, 0, 0, 0.486);
	 background-color: rgba(255, 0, 0, 0.918);
	 justify-content: center;
	 color:white;
	 height: 40px;
	 font-size: 1.2rem;
	 text-align: center;
	 border-radius: 5px;
	 
 }
 .info{
	 visibility: hidden;
 }
 
 
 