* {
    margin: 0;
    padding: 0;
}

hr{
    border-color: #a4a4a4;
}

ul{ 
    width: 150px;
}

li{
    outline:none;
    background: #333333; 
    display: block; 
    color: #33b5e5;
    font-family: Century Gothic, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 0 -1px 0 #000;
    font-size: 20px;
    cursor: pointer;
    -webkit-user-select: none;
}

li.single{
    padding: 7px 15px;
}

li.single:hover, .leftcol:hover, .rightcol:hover, .selected { background: #666; }

li#play{
    text-align: center;
}

.leftcol{
    font-weight: bold;
    font-size: 24px;
    display:inline-block;
    padding: 7px 0px 7px 25px;
    box-sizing: border-box;
    width: 50%;
}

.rightcol{
    font-weight: bold;
    font-size: 24px;
    display:inline-block;
    padding: 7px 15px 7px 25px;
    box-sizing: border-box;
    width: 50%;
}

span{
    outline:none;
}

span#loop{
    line-height: 29px
}

span#pause{
    padding-left: 29px;
}

img{
    padding-left: 3px;
}

