body {
    width: 300px;
    height: 300px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

p {
    display: inner-flex;
    margin: auto 10px;
    font-size: 22px;
    color: blue;
    border-radius: 6px;
    border: 1px solid lightblue;
    padding: 10px;
}
.button4 {
    height: 40px;
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
}
