

h2{
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 20px;
}

* {
    margin: 0;
    padding: 0;
  }
  
  .loader {background-color:rgb(167, 179, 10) ;
    display: none;
    top: 500px;
    left: 50%;
   
    position: absolute;
    transform: translate(-50%, -50%);
  }
  
  .loading {background-color:rgb(167, 179, 10) ;
    border: 5px solid #ccc;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-top-color: #537001;
    border-left-color: #537001;
    animation: spin 1s ease-in;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
img{
    height: 150px;
    width:250px
}
.btn{
margin-top: 15px;
    text-align: center;
    margin-bottom: 5px;
}

p{font-size: 2rem;
    color:white
}
div{height: 350px;
    background-color: rgb(167, 179, 10);
}