@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #fafafa;
    width: 200px;
	height: 200px;
	
	transition: background 0.5s linear;
}

.heading{
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
	align-items: center;
	justify-content: center;
}

.touggle{
    display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
}

body.dark {
	background: #212D49;
    color: #C9D1D9;
}



.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 30px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 22px;
	width: 48px;
	transform: scale(1.5);
}

.label .ball {
	background-color:cyan;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 18px;
	width: 18px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}


.fa-moon {
	color: #ffffff;
}

.fa-sun {
	color: #FCE570;
}
.container{
  min-height:1vh;
  background-size:auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#range{
  width: 100%;
  -webkit-appearance: none;
  background: #0a85ff;
  height: 3px;
  outline: none;
}

#range::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 15px;
  height:15px;
  background: #ffffff;
  transition: 0.6s ease;
  border: 1px solid #00FFFF;
  border-radius: 50%;
  cursor: pointer;
}
#far{
	color:aquamarine;
}
#fas{
	color:aquamarine;
}