h5{text-align: center;
   
    
    padding-top: 20px;
}
html,body{
    background-color: rgb(226, 95, 127);
}

.btn{
margin-top: 15px;
    text-align: center;
    margin-bottom: 5px;
}
input{margin-top: 15px !important;
    margin-bottom: 15px !important;

}
p{font-size: 2rem;
    color:white
}
div{
    background-color: rgb(226, 95, 127);
}