body {
  width: 500px;
  height: 580px;
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: beige;
  overflow: hidden;
}

#series {
  display: block;
}

.seriesCol {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
}
.userprofile {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid whitesmoke;
}
.userimg {
  height: 70px;
  width: 70px;
  border-radius: 30%;
  border: 1px solid whitesmoke;
  background-color: antiquewhite;
}
.panel-heading {
  padding: 0;
  border: 0;
}

.panel-title {
  display: block;
  padding: 15px;
  color: white;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 3px;
  text-decoration: none;
  background-color: gray;
}
.panel-heading a:before {
  font-family: "Glyphicons Halflings";
  content: "\e114";
  float: right;
  transition: all 0.5s;
}
.panel-heading.active a:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}
