*{
    margin: 0;
    padding:0;
}
body{
    background-color: red;
    overflow: hidden;
    width: 126vw;
    height: 100vh;
}
.gameContainer{
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
}

.dino{
    background-image: url(dino.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 233px;
    height: 114px;
    position: absolute;
    bottom:2px;
    left: 52px;
}

.obstacle{
    width: 166px;
    height: 113px;
    background-image: url(dragon.png);
    background-size: cover;
    position: absolute;
    bottom: 2px;
    left: 44vw;
}

.animateDino{
    animation: dino 0.6s linear;
}

.obstacleAni{
    animation: obstacleAni 5s linear infinite;
}

.gameOver{
    position: relative;
    top: 97px;
    font-size: 44px;
    text-align: center;
    font-family: 'serif';
    left: -100px;
}

#scoreCont{
    font-size: 28px;
    color: #0c73f7;
    font-weight: bold;
    position: absolute;
    right: 45px;
    top: 31px;
    border: 2px solid black;
    padding: 10px;
    font-family: 'serif';
    border-radius: 15px;
    background-color: #d2eaff;
}

@keyframes dino{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 422px;
    }
    100%{
        bottom: 0; 
    }
}

@keyframes obstacleAni{
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }
}